.usersContainer {
    height: 100%;
    background-color: white;
    border: none;
    box-shadow: 0 0 20px 0 rgba(44, 101, 144, 0.1);
    border-radius: 5px 5px 5px 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.searchArea {
    display: inline;
}

.users {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 600px;
}

.showMore {
    margin: 5px 0;
    background-color: #50b5ff;
    color: white;
    border: 1px solid #50b5ff;
    padding: 4px 8px;
    font-size: 16px;
    cursor: pointer;
}

.showMore:hover {
    opacity: 0.6;
}

.preloader {

}