

.users {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selectedPage {
    font-weight: bold;
}

.userBlock {
    display: flex;
    width: 400px;
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.userInfo {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 5px;
}
.userName {
    margin: 5px;
}

.userLocation {
}

.avatar img {
    width: 50px;
}