.userBlock {
    display: flex;
    width: 100%;
    margin: 5px 0;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.avatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.avatar img {
    width: 50px;
}

.button {
    margin: 5px 0;
    background-color: #50b5ff;
    color: white;
    border: 1px solid #50b5ff;
    padding: 4px 8px;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    opacity: 0.6;
}

.userInfo {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 5px;
}
.userName h3 {
    margin: 5px 0 5px 0;
}

.userName a {
    color: #3f414d;
    text-decoration: none;
    transition: all 0.5s ease-out 0s;
}

.userName a:hover {
    color: #50b5ff;
}

.userLocation {
}


