.profileInfo {
    grid-area: profileInfo;
    background-color: white;
    border-radius: 75px 5px 5px 5px;
    border: none;
    box-shadow: 0 0 20px 0 rgba(44, 101, 144, 0.1);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5px;
}

.profileInfo img {
    width: 150px;
}

.descriptions {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

.descriptions a {
    color: #3f414d;
    text-decoration: none;
    transition: all 0.5s ease-out 0s;
}
.descriptions a:hover {
    color: #50b5ff;
}
