.profile {
    grid-area: profile;
    background-color: chocolate;
    display: grid;
    grid-template-areas:
            "wallpaper wallpaper"
            "avatar description"
            "posts posts";

    grid-template-rows: 80px 150px 1fr;
    grid-template-columns: 150px 1fr;
}
.wallpaper {
    grid-area: wallpaper;
}

.wallpaper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.avatar {
    grid-area: avatar;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.descriptions {
    grid-area: description;
}

.posts {
    grid-area: posts;
}
