.createPost {
    display: flex;
    flex-direction: column;
}

.header {
    padding: 0 20px;
}

.body {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-bottom: 1px solid #f1f1f1;
    border-top: 1px solid #f1f1f1;
}

.avatar {
    width: 100px;
}

.avatar img {
    height: 50px;
}

.input {
    display: flex;
    width: 100%;
}


