.post {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-bottom: 1px solid #f1f1f1;
    border-top: 1px solid #f1f1f1;
}

.avatar {
    width: 100px;
}

.avatar img {
    height: 50px;
}

.message {
    display: flex;
    flex-direction: column;
    width: 100%;
}
