.textArea {
    width: 100%;
}

textarea {
    min-width: 100%;
    width: auto;
    resize: none;
    border: none;
    outline: none;
    background: transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #a09e9e;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

textarea:focus {
    color: #495057;
}

