.header {
    grid-area: header;
}

.container {
    display: grid;
    align-items: center;
    padding: 0 15px;
    background-color: white;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 20px 0 rgba(44, 101, 144, 0.1);
    height: 100%;
}

.container img {
    width: 60px;

}