.header {
    grid-area: header;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    background-color: white;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 20px 0 rgba(44, 101, 144, 0.1);
    height: 100%;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 60px;
}

.loginBlock a {
    text-decoration: none;
    color: #50b5ff;
    transition: all 0.5s ease-out 0s;
}

.loginBlock a:hover {
    color: #3f414d;
}